.container {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.container h1,
.container h3,
.container p {
  color: black;
}
.containerdetails {
  width: 900px;
  height: 800px;
  gap: 30px;
}
.portfolio {
  padding-top: 60px;
}

.cv {
  background-color: orange;
  padding: 50px;
  border-radius: 100px;
  border-color: orange;
  margin-right: 20px;
  color: black;
}
.projects {
  background-color: blue;
  padding: 50px;
  border-radius: 100px;
  border-color: blue;
  margin-right: 20px;
  color: black;
}

.contact {
  background-color: red;
  padding: 50px;
  border-radius: 100px;
  border-color: blue;
  margin-right: 20px;
  color: black;
}

.container p {
  text-align: justify;
  font-size: 20px;
}
